// abstracts/_functions.scss
@use 'sass:color';
@use 'sass:map';
@use 'sass:math';

// Funciones de color
@function tint($color, $percentage) {
  @return color.mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return color.mix(black, $color, $percentage);
}

@function color-yiq($color) {
  $r: color.red($color);
  $g: color.green($color);
  $b: color.blue($color);
  $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;
  @if ($yiq >= 150) {
    @return #000;
  } @else {
    @return #fff;
  }
}

// Funciones de espaciado
@function spacer($key) {
  @return map.get($spacers, $key);
}

@function border-radius($key: null) {
  @if $key {
    @return map.get((
      sm: $border-radius-sm,
      lg: $border-radius-lg
    ), $key);
  }
  @return $border-radius;
}

// Funciones de breakpoint
@function breakpoint($key) {
  @return map.get((
    sm: $breakpoint-sm,
    md: $breakpoint-md,
    lg: $breakpoint-lg,
    xl: $breakpoint-xl
  ), $key);
}

// Funciones de shadow
@function shadow($key) {
  @return map.get((
    1: $shadow-sm,
    2: $shadow-md,
    3: $shadow-lg,
    4: $shadow-xl
  ), $key);
}